/* html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  border: 1px solid;
  padding: 5px;
}

p {
  background: peachpuff;
  border: 1px solid;
}

table {
  background: lightgreen;
  border: 1px solid;
}

h2 {
  border: 1px solid;
}

td {
  border-radius: 10%;
  width: 50px;
  border: 1px solid;
  text-align: center;
}
 */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: max-content;
  border: 1px solid;
  padding: 5px;
}

table,
th,
td {
  border: 0.1px dotted black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

td {
  width: 30px;
  height: 30px;
}
